<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather app</title>
    
    <!-- Latest compiled and minified CSS -->
    {{>headerlinks}}
  </head>
  <body>
   {{>navbar}}

    <!--main header-->
    <div class="container-fluid main_header ">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="image/about.png" alt="">
                    </figure>
                      
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I Am a <span class="text_clr"> MERN Stack Developer </span> And a BE Second Year Information Technology student at uiet</h1>
                    <a href="https://www.linkedin.com/in/anant-singh-bisht-07685b196/"target=_blank><button>About Me</button></a>
                </div>
                
            </div>

          </div>    
        </div>    
    </div>    
    <!-- footer code -->
   {{>footer}}

  </body>
</html>
