<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather app</title>

    <!-- Latest compiled and minified CSS -->
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!--main header-->
    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <div class="main_content">
                  <form action="
                  " class="temp_form">
                  <input type="text" id="cityname" placeholder="enter city name" autocomplete="off">
                  <input type="submit" value="search" id="submitbtn">
                  </form>

               </div>
               <div class="tempinfo">
                   <div class="top_layer">
                       <p id="day">---</p>
                       <p id="today_date">-- ---</p>
                   </div>
                   <div class="main_layer">
                       <p id="city_name">Get output here</p>
                       <div class="middle_layer data_hide">
                           <p id="temp">
                               <span >---</span>°C
                           </p>
                           <p id="temp_status"> --- </p>
                       </div>
                   </div>
                   
               </div>

            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
    <script src="js/main.js"></script>

</body>

</html>